01. Beeldherkenning/data/
01. Beeldherkenning/models/
02. Data augementatie/Practicum/data/
02. Data augementatie/Practicum/EuroSAT_RGB.zip
Project 3/apple_disease_classification
Project 3/achtergrond_informatie
Project 3/wandb
Project 3/ISO-2859-1-1999.pdf
Project 3/apple_cropped
Project 3/yolov5s.pt
yolov5m.pt
yolov5x.pt
Project 3/Report_Apple.odt
Project 3/apple_resized_128/
Project 3/apple_resized_224/
Project 3/apple_vit_classifier.pt
Project 3/apple_resnet_classifier.pt
Project 3/apple_myCNN_classifier.pt
