01. Beeldherkenning/data/
01. Beeldherkenning/models/
02. Data augementatie/Practicum/data/
02. Data augementatie/Practicum/EuroSAT_RGB.zip
Project 3/apple_disease_classification
Project 3/achtergrond_informatie
Project 3/wandb
Project 3/ISO-2859-1-1999.pdf
Project 3/apple_cropped
Project 3/yolov5s.pt
yolov5m.pt
yolov5x.pt
Project 3/Report_Apple.odt
Project 3/apple_resized_128/
Project 3/apple_resized_224/
Project 3/apple_vit_classifier.pt
Project 3/apple_resnet_classifier.pt
Project 3/apple_myCNN_classifier.pt
Project 3/apple_resized_224_augm/
Project 3/new_apples_224/
Project 3/NewImages/
apple_resnet_classifier.pt
Project 3/blablabla.pt
Project 3/NewImages.zip
Project 3/apple_cropped_augm
Project 3/apple_cropped_r224
Project 3/apple_cropped_r224_augm
Project 3/apple_original_augm
Project 3/Report_Apple.odt
08 Algorithms/Unit 1 - Intro, array, complexity.pptx
08 Algorithms/Unit 2 - Sorting algorithms.pptx
08 Algorithms/Unit 3 - List, Stack, Queue.pptx
08 Algorithms/Unit 3b - Hash tables.pptx
08 Algorithms/Unit 4 - Binary trees.pptx
08 Algorithms/Unit 5 - Graphs.pptx
08 Algorithms/Unit 6 - Dynamic Programming, Floyd Warshall.pptx
Project 3/blablabla.pt
/Project 3/apple_original_augm_cropped
Project 3/blablabla.pt
Project 3/apple_mlp_classifier.pt
Project 3/blablabla.pt
Project 3/VotingClassifier_SwinTransformer_11_ckpt.pth
Project 3/VotingClassifier_VisionTransformer_7_ckpt.pth
Project 3/apple_50sample/Unlabeled
Project 3/release/Apps.zip
Project 3/Report_Apple_v6.odt
Project 3/Apple_Classification_Report.pdf
Project 3/release